python-dotenv
pandas
numpy
plotly
scikit-learn
xgboost
matplotlib
statsmodels
prophet
folium
streamlit-folium
altair
pycountry
country_converter
langchain==0.2.7
chromadb==0.3.32
sentence-transformers
google-generativeai
pdf2image
pillow
pytesseract
streamlit
