python-dotenv
pandas
numpy
matplotlib
scikit-learn
xgboost
statsmodels
plotly
altair
folium
streamlit
streamlit-folium
pycountry
country_converter
pillow
pdf2image
pytesseract
prophet
google-generativeai
langchain
chromadb
sentence-transformers
torch
transformers
